{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<div class="container">
  <center>
    <h2>Spending Analysis</h2>
  </center>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div id="canvas-holder" style="width:100%">
            <canvas id="chart-area" width="300" height="300"></canvas>
        </div>
      </div> <!-- well -->
    </div> <!-- col -->
    <div class="col-md-6">
      <div class="well">
        <h4>Grand Overview</h4>

        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Total Historical Debits:
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              ${{ totalspend }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Total Historical Credits:
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              ${{ totalgain }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Net Value:
              </div>
            </div>
          </div>

          <div class="col-md-4">
            {% if netvalue > 0 %}
            <div class="alert alert-success" role="alert">
              ${{ netvalue }}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
              ${{ netvalue }}
            </div>
            {% endif %}
          </div>
        </div> <!-- row -->

        <h4>Slightly More Granular</h4>

        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Total Transaction Count:
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                {{ numoftrans }}
              </div>
            </div>
          </div>
        </div> <!-- row -->

      </div> <!-- well -->
    </div>
  </div> <!-- row -->


  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4>Savings Account</h4>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Total Savings:
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              ${{ totalsavings }}
            </div>
          </div>
        </div> <!-- row -->

      </div> <!-- well -->
    </div> <!-- col-md-6 -->
    <div class="col-md-6">
      <div class="well">
        <h4>Checking Account</h4>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                Total Checking:
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              ${{ totalchecking }}
            </div>
          </div>
        </div> <!-- row -->

      </div> <!-- well -->
    </div> <!-- col-md-6 -->
  </div> <!-- row -->
</div> <!-- container -->






<script>
  var randomColorFactor = function() {
      return Math.round(Math.random() * 255);
  };

  var randomColor = function(opacity) {
      return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
  };

  var bgDataColor = function() {
    var colors = [];
      for (i = 0; i < {{ plotYData }}.length; i++ ){
          colors.push(randomColor(0.5));
      };
    return colors;
  };

  var datacolor = 'rgba(232, 111, 74, .4)';
  var config = {
      type: 'pie',
      data: {
          datasets: [{
              data: {{ plotYData }},
          }],
          labels: {{ xLabels|safe }}
      },
      options: {
          responsive: true
      }
  };

  $.each(config.data.datasets, function(i, dataset) {
      dataset.backgroundColor = bgDataColor();
  });


  window.onload = function() {
      var ctx1 = document.getElementById("chart-area").getContext("2d");
      window.myPie = new Chart(ctx1, config);
  };

</script>


{% else %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Please login to view your financial information.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="{{ url_for("login") }}" role="button">Sign Up! &raquo;</a>
    </p>
  </div>
</div>

{% endif %}
{% endblock %}
